::selection {
  background-color: #F0A500;
  color: #0A0909; 
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: poppins ;

}
#home {
  padding: 100px 20px;
}
.h1-color {
  color: #F0A500 !important;
  font-weight: 600 !important;
}
h1 {
  color: #1C3D5A !important;
}
h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
.mr-auto h3, .mr-auto p {
  color: #1C3D5A !important;
}
h3 {
  color: #F0A500;
}
a {
  font-weight: 500;
}
p {
  color: #1C3D5A !important;
}





.card {
  background-color: #EBF5F3;
}

/* for the buttons */
#btn-calculating {
  margin-top: 10px !important;
  
  position: relative;
  z-index: 1;
  border: 2px solid #e69d00;
  color: #FDF5E6; 
  font-weight: 500;
  overflow: hidden;
  transition: color 0.4s;
  background-color: #F0A500;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#btn-calculating::after {
  background-color: #EBF5F3;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(-35deg);
  transition-duration: 0.4s;
  transform-origin: bottom right;
  width: 0;
}
#btn-calculating:hover::after {
  height: 100%;
  width: 135%;
  
}
#btn-calculating:hover {
  transform: translateY(-2px);
  color: #1C3D5A;
  border: 2px solid #1C3D5A;
  
}

#btn-features {
  position: relative;
  margin-top: 10px !important;
  z-index: 1;
  border: 2px solid #1C3D5A; 
  background-color: #FDF5E6;
  color: #1C3D5A;
  overflow: hidden;
  transition: color 0.4s;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#btn-features::after {
  background-color: #F0A500;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(30deg);
  transition-duration: 0.4s;
  transform-origin: top left;
  width: 0;
}
#btn-features:hover::after {
  height: 100%;
  width: 135%;
  
}
#btn-features:hover {
  color: #FDF5E6 !important;
  border: 2px solid #F0A500;
  box-shadow: 0 0 30px rgba(70, 69, 69, 0.329);
  transform: translateY(-2px);
}


/* why choose us */
.features {
  padding: 50px 20px;
  text-align: center;
}
.features h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #F0A500;
}
.feature-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.feature-box {
  background: #f9dfc6;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  transition: transform 0.3s;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(54, 54, 54, 0.473);
}
.feature-box h3 {
  margin-bottom: 10px;
  color: #004aad;
}


.card {
  border: none;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  max-width: 28rem !important;
  box-shadow: 0 0 30px rgba(70, 69, 69, 0.329);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.15);
}


.how-it-work {
  height: 100vh;
}


/* icons */
.fa-solid, .fa-brands {
  color: #1C3D5A;
  transition:0.2s;
}
.fa-solid:hover, .fa-brands:hover {
  color: #F0A500;
}


  /* footer */
footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  margin: 0;
  }
  footer a {
  text-decoration: none;
  color: #e69d00;
  }
  footer a:hover {
  text-decoration: underline;
  }